* text=auto eol=lf

*.go linguist-language=Go
go.mod linguist-language=Go
go.sum linguist-language=Go

*.ps1  linguist-detectable=false
*.psm1 linguist-detectable=false
*.psd1 linguist-detectable=false